@model IEnumerable<XSS.Web.Models.Item>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Content)</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>
                    @item.Content
                    @*@Html.Raw(item.Content)*@
                </td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) </td>
            </tr>
        }
    </tbody>
</table>